.layout {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
}
