.card {
  padding: 16px;
  border-radius: 16px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  transition: opacity 0.3s ease;
}

.card__title {
  border: none;
  background: none;
  width: 100%;
  font-size: 16px;
}

.card--done {
  opacity: 0.5;
}

.card--done .card__title:not(:focus) {
  text-decoration: line-through;
}
